apipkg==1.4
apturl===0.5.2ubuntu4
Brlapi==0.6.1
chardet==2.2.1
checkbox-ng==0.3
checkbox-support==0.2
chrome-edit-server==0.3.4
chromedriver==2.21.1
chromedriver-installer==0.0.4
command-not-found==0.3
contextlib2==0.5.4
ddt==1.1.0
defer==1.0.6
ecdsa==0.13
execnet==1.4.1
Fabric==1.11.1
Faker==0.7.3
feedparser==5.1.3
friends==0.1
httplib2==0.8
language-selector==0.1
louis==2.5.3
lxml==4.9.1
Mako==0.9.1
MarkupSafe==0.18
mock==2.0.0
multi-key-dict==2.0.3
nose==1.3.7
nose2==0.6.5
oauthlib==0.6.1
onboard==1.0.1
oneconf==0.3.7.14.4.1
paramiko==1.17.1
path.py==8.2.1
pbr==1.10.0
piston-mini-client==0.7.5
plainbox==0.5.3
py==1.4.31
pycrypto==2.6.1
pycurl==7.19.3
pygobject==3.12.0
pyparsing==2.0.1
pytest==3.0.2
pytest-base-url==1.1.0
pytest-fixture-config==1.0.1
pytest-fixture-tools==1.0.0
pytest-html==1.10.0
pytest-selenium==1.3.1
pytest-server-fixtures==1.1.0
pytest-shutil==1.1.1
pytest-variables==1.4
python-apt===0.9.3.5ubuntu2
python-dateutil==2.5.3
python-debian===0.1.21-nmu2ubuntu2
python-jenkins==0.4.13
pyxdg==0.25
requests==2.2.1
selenium==2.53.6
six==1.7.3
software-center-aptd-plugins==0.0.0
ubuntu-drivers-common==0.0.0
ufw===0.34-rc-0ubuntu2
unattended-upgrades==0.1
unity-scope-audacious==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-clementine==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-gdrive==0.7
unity-scope-gmusicbrowser==0.1
unity-scope-gourmet==0.1
unity-scope-guayadeque==0.1
unity-scope-manpages==0.1
unity-scope-musique==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.7.1
usb-creator==0.2.23
xdiagnose===3.6.3build2
xkit==0.0.0
xlrd==1.0.0
xmlrunner==1.7.7
